<div class="box">
  <div class="box-inner">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/users/shared/error_messages", resource: resource %>
      <h1>新規登録</h1>
      <div class="box-name">
        <%= f.label :name, "ユーザーネーム" %><br>
        <%= f.text_field :name %>
      </div>
      <div class="box-email">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-password">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <%= render "public/users/shared/links" %>
      <div class="box-login">
        <%= f.submit "新規登録" %>
        <div class="legal-text">
          続行することで、Hogezonの
          <%= link_to "利用規約", "#" %>
          および
          <%= link_to "プライバシー規約", "#" %>
          に同意するものとみなされます。
        </div>
        
      </div>
    <% end %>
  </div>
</div>