<div class="container">
<section>
  <div class="container-fluid">
    <h1>投稿一覧</h1>
    <div class="d-flex flex-row">
      <% @articles.each do |article| %>
    <div class="row col-4">
      <div>
        <div>
         <h2 class ="card-totle">タイトル</h2>
          <span><%= article.title %></span>
        <h3>
          <% article.images.each do |image| %>
            <%= image_tag image, class: 'img-fluid w-100' %>
          <% end %></h3>
        </div>
                
    <div class="block-content">
      <div class="d-flex flex-row align-items-center">
        <div>
          <%= image_tag article.user.get_profile_image(100, 100) %>
        </div> 
        <div class="col-8">
        <h3 class="block-title ml-5">
          <%= article.user.name %>
        </h3>
        </div>
    </div>
    <ul class="inline-meta">
      <li>
        <%= link_to "#{article.comments.count} コメント", admin_article_path(article.id) %>
      </li>
      <li>
        <i class="fa fa-heart" aria-hidden="true" style="color: orange; font-size: 15px;"></i>
          <%= article.favorites.count %> いいね
      </li>
      <%= link_to "削除", admin_article_path(article.id), method: :delete %>
    </ul>
            </div>
              </div>
            </div>
            <% end %>
          </div>
            <%= paginate @articles, class: "paginate" %>
      
  </div>
</section>
</div>

