<div class="container ">
<section>
  <div class="container-fluid">
    <h1>投稿一覧</h1>
     <div class="d-flex flex-row">
           <% @articles.each do |article| %>
     <div class="row col-4">
           <div>
            　<div>
                <h2 class="card-title">タイトル</h2>
                  <span><%= article.title %></span>
                <h3>
                  <% article.images.each do |image| %>
                  　<%= image_tag image, class: 'img-fluid w-100', width: '50%', height: '50%' %>
                  <% end %></h3>
              </div>
              <div class="block-content">
                <div class="d-flex flex-row align-items-center">
                <div>
                  <!-- <div class="col-4"> -->
                  <%= image_tag article.user.get_profile_image(100, 100) %>
                  <!-- </div> -->
                </div>
              <div class="col-8">
                <h3 class="block-title ml-5">
                  <%= article.user.name %>
                </h3>
                </div>
              </div>
                <ul class="inline-meta">
                  <li>
                    <%= link_to "#{article.comments.count} コメント", article_path(article.id) %>
                  </li>
                  <% if article.favorited?(current_user) %>
                  <li>
                    <%= link_to article_favorites_path(article), method: :delete do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: orange; font-size: 15px;"></i>
                        <%= article.favorites.count %> いいね
                    <% end %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to article_favorites_path(article), method: :post do %>
                      <i class="fa fa-heart" aria-hidden="true" style="font-size: 15px;"></i>
                      　<%= article.favorites.count %> いいね
                    <% end %>
                  </li>
                  <% end %>
                    <% if article.user_id == current_user.id %>
                       <%= link_to "編集", article_path(article.id) %>
                    <% end %>　　　
                      <% if article.user_id == current_user.id %>
                       <%= link_to "削除", article_path(article.id), method: :delete %>
                      <% end %>
                  </ul>
            </div>
            </div>
   　</div>
           <% end %>
 </div>
 <%#= paginate @articles, class: "paginate" %>
  </div>
</section>
</div>
