<div class="container">
  <% @article.images.each do |image| %>
   <%= image_tag image %>
  <% end %>
  <p>タイトル：<%= @article.title %></p>
  <p>説明：<%= @article.content %></p>
  <p>投稿ユーザー画像：<%= image_tag @article.user.get_profile_image(100, 100) %>
  <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <% @article.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>
  <% if @article.user == current_user %>
    <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: "本当に削除してよろしいでしょうか？"} %>
  <% end %>
</div>

<div class="container">
  <p>コメント件数：<%= @article.comments.count %></p>
  <% @comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
    <%= link_to "削除", article_comment_path(@article, comment), method: :delete, data: { confirm: "本当に削除しますか?" } if current_user == comment.user %>
  <% end %>
</div>
<div class="container">
  <%= form_with model: [@article, @comment], url: article_comments_path(article_id: @article.id), method: :post do |f| %>
    <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>