<h1>いいね一覧</h1>
  <% @favorites.each do |favorite| %>
    <h2>タイトル</h2>
    <span>
        <%= favorite.article.title %>
    </span>
    <h3>画像</h3>
      <% favorite.article.images.each do |image| %>
       <%= image_tag image, class: 'img-fluid' %>
      <% end %>
      <%= image_tag favorite.article.user.get_profile_image(100, 100) %>
    <h3 class="block-title">
      <%= favorite.article.user.name %>
    </h3>
    <ul class="inline-meta">
      <li>
        <%= link_to "#{favorite.article.comments.count} コメント", article_path(favorite.article.id) %>
      </li>
    </ul>
  <% end %>