<div>
  <div class="container">
  
  <p>
    <%= @user.name %>
    &emsp;
  <% if @user == current_user %>  
    <%= link_to "プロフィールを編集", edit_user_path %></p>
  <% end %>
  <% if signed_in? && current_user != @user && current_admin.blank? %>
    <% if current_user.present? && current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_relation_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relations_path(@user.id), method: :post %>
    <% end %>
  <% end %>  
  
  <p><%= image_tag @user.get_profile_image(100, 100) %></p>
  <%= link_to user_followings_path(@user) do %>
  <h6>フォロー<%= @user.following.count %></h6>
  <% end %>
  <%= link_to user_followers_path(@user) do %>
  <h6>フォロワー<%= @user.followers.count %></h6>
  <% end %>
     
  
  <p>投稿数
    <%= @user.articles.count %>
  <% if @user == current_user %>
    <%= link_to "投稿する", new_article_path %></p>
    
  <% end %>
  
  <% if current_admin.present? %>
    <div><%= link_to "退会", withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" } %></div>
  <% end %>
  </div>
</div>
